{% extends 'earthquakes/layout.html' %}
{% load custom_filter %}

{% block head %}
    <title>Earthquakes</title>
    <script>
        function addstatus(color, earthquake_id) {
            location.reload();
            const data = {
                "status": color,
                "earthquake_id": earthquake_id
            };

            console.log(JSON.stringify(data))
            const csrftoken = "{{ csrf_token }}"
            // Make the POST request using fetch
            fetch('http://localhost:8000/earthquakes/addstatus', {
                method: 'POST', // Set the HTTP method to POST
                headers: {
                    'Content-Type': 'application/json', // Specify the content type as JSON
                    'X-CSRFToken': csrftoken // Include the CSRF token
                },
                body: JSON.stringify(data) // Convert the JavaScript object to a JSON string
            });
            document.querySelector(`#${color}`).classList = "btn btn-success"
            location.reload();

        }
    </script>
{% endblock %}

{% block body %}
    {% for earthquake in earthquakes %}
        <div class="list-group">
            <a href="{% url 'earthquakes:earthquake' earthquake.id %}" class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ earthquake.place }}</h5>
                    <small>{{ earthquake.time }} UTC</small>
                </div>
                <p class="mb-1">Magnitude {{ earthquake.magnitude }}{% if earthquake.tsunami == 0 %} - Tsunami risk{% endif %}</p>
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-{% if not earthquake|user_has_status_g:user %}outline-{% endif %}success" id="green" onclick="addstatus('green', {{ earthquake.id }})">I am ok</button>
                    <button type="button" class="btn btn-{% if not earthquake|user_has_status_y:user %}outline-{% endif %}warning" id="yellow" onclick="addstatus('yellow', {{ earthquake.id }})">I need help</button>
                    <button type="button" class="btn btn-{% if not earthquake|user_has_status_r:user %}outline-{% endif %}danger" id="red" onclick="addstatus('red', {{ earthquake.id }})">I need help immediately</button>
                {% endif %}
            </a>
        </div>
    {% empty %}
        <div class="mb-2"><h2>No earthquakes.</h2></div>
    {% endfor %}
{% endblock %}