{% extends "account/layout.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
        <h2 class="ps-3 mt-1">
            Login
        </h2>
        <form acton="{% url 'account:login' %}" method="post" class="ps-3 pe-5">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <input type="submit" class ="btn btn-primary" value="Login">
        </form>
{% endblock %}